<!-- views/partials/navbar.ejs -->

<script>    
//Resize Canvas
window.addEventListener( 'resize', onWindowResize, false );
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Geometry
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/donuts">Donuts rain</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/saturn">Saturn</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/cust-geo">Custom geometry</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/butterfly">Butterfly</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/text-geo">Text geometry</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Material
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/mat-basic">Basic</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/mat-normal">Normal</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/mat-depth">Depth</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/mat-line-points">Line & points</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/mat-particles">Particles</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lights
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cameras
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        User interaction
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Adding realism
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Final challenge
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
  </div>
</nav>