<!-- views/partials/navbar.ejs -->

<script>
//Resize Canvas
window.addEventListener( 'resize', onWindowResize, false );
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
      id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Geometry
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/donuts">Shapes: Donuts rain</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/saturn">Shapes: Saturn</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/cust-geo">Custom geometry</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/butterfly">Vector3: Butterfly</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/text-geo">Text geometry: Star Wars</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
      id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Material
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/mat-basic">MeshBasicMaterial</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/mat-normal">MeshNormalMaterial</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/mat-depth">MeshDepthMaterial</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/mat-line-points">Line & points</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/mat-particles">Particles</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/mat-light-sensitive">Light sensitive</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/mat-fragment-movement">Fragment movement</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
      id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lights
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/lights-ambiant">Ambiant</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/lights-hemisphere">Hemisphere</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/lights-directional">Directional</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/lights-point">Point</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/lights-spot">Spot</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/several-spots">Two spots moving</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
      id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cameras
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/cam-perspective">Perspective</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/cam-orthographic">Orthographic</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/cam-follow">Follow me</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
      id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        User interaction
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/user-kb-event">Keyboard event</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/user-ms-event">Mouse event</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/user-ms-picking">Mouse picking: click</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/user-ms-picking-move">Mouse picking: move</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/user-ray">Ray object</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/user-balloon">Balloons</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
      id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Adding realism
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/real-textures">Textures</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/real-panorama">Panorama</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/real-shadows">Shadows</a>
      </div>
    </div>
    <div class="dropdown show">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
      id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Final challenge
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/final-challenge">Final challenge</a>
      </div>
    </div>
  </div>
</nav>