<html lang="en"></html>
      <head>
        <meta charset="UTF-8">
        <title>Three JS</title>
        <%- include ('../../partials/head') %>
      </head>
    <body>
        <%- include ('../../partials/navbar') %>
        <canvas id="sceneCanvas"></canvas>
    </body>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</html>

<script>
    let scene, camera, renderer, particles;
    let ADD = 0.02;

    let randomInRange = function(from, to) {
        let x = Math.random() * (to - from);
        return x + from;
    };

    let createGeometry = function() {
        let material = new THREE.PointsMaterial({color: 0xffffff, size: 0.5});

        let geometry = new THREE.Geometry();

        for(let i = 1; i <= 1000; i++) {
            let x = randomInRange(-25, 25);
            let y = randomInRange(-25, 25);
            let z = randomInRange(-25, 25);
            geometry.vertices.push(new THREE.Vector3(x, y, z));
        }

        geometry.computeBoundingSphere();
        particles = new THREE.Points(geometry, material);

        scene.add(particles);
    };


    // set up the environment -
    // initiallize scene, camera, objects and renderer
    let init = function() {
        // create the scene
        scene = new THREE.Scene();
        scene.background = new THREE.Color(0x000000);

        // create an locate the camera
        camera = new THREE.PerspectiveCamera(75,
                        window.innerWidth / window.innerHeight,
                        1, 1000);
        camera.position.z = 15;
        var light = new THREE.AmbientLight(0xffffff, 0.5);
    scene.add(light);

    var light2 = new THREE.PointLight(0xffffff, 0.5);
    scene.add(light2);
        createGeometry();

        // create the renderer
        renderer = new THREE.WebGLRenderer( { canvas: sceneCanvas } );
        renderer.setSize(window.innerWidth, window.innerHeight-100);
    };

    // main animation loop - calls 50-60 times per second.
    let mainLoop = function() {

        renderer.render(scene, camera);
        requestAnimationFrame(mainLoop);
    };

    ///////////////////////////////////////////////
    init();
    mainLoop();
</script>
