<html lang="en"></html>
      <head>
        <meta charset="UTF-8">
        <title>Three JS</title>
        <%- include ('../../partials/head') %>
      </head>
    <body>
        <%- include ('../../partials/navbar') %>
        <div class="instructions">
            Two spot lights on cubes displayed randomly on loading
        </div>
        <canvas id="sceneCanvas"></canvas>
    </body>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</html>

<script>
    let scene, camera, renderer, spotLight1, spotLight2;
    let plane, target1, target2;
    let cubes = [];
    let ADD = 0.1;

    //Cube contructor: Create random cube
    let randomInRange = function(from, to) {
        let x = Math.random() * (to - from);
        return x + from;
    };

    let createCube = function() {
        let w = randomInRange(5, 8);
        let h = randomInRange(5, 8);
        let d = randomInRange(5, 8);
        let geometry = new THREE.BoxGeometry(w, h, d);
        let material = new THREE.MeshPhongMaterial(
                                    { color: Math.random() * 0xffffff });
        let cube = new THREE.Mesh( geometry, material );
        cube.position.x = randomInRange(-20, 20);
        cube.position.y = 2;
        cube.position.z = randomInRange(-20, 20);
        cubes.push(cube);
    };

    //Create 10 cubes
    let createGeometry = function() {
        let geometry = new THREE.BoxGeometry(2000, 1, 2000);
        let material = new THREE.MeshPhongMaterial({color: 0X693421, side: THREE.DoubleSide});
        plane = new THREE.Mesh(geometry, material);
        plane.position.y = 1;

        for(let i = 1; i <= 10; i++)
            createCube();

        cubes.forEach(cube => scene.add(cube));
        scene.add(plane);

    };

    // set up the environment -
    // initiallize scene, camera, objects and renderer
    let init = function() {
        // create the scene
        scene = new THREE.Scene();
        scene.background = new THREE.Color(0x000000);

        // create an locate the camera
        camera = new THREE.PerspectiveCamera(80,
                        window.innerWidth / window.innerHeight,
                        1, 1000);
        camera.position.set(0, 10, 30);

        // let ambient = new THREE.AmbientLight(0xffffff);
        // scene.add(ambient);

        //Spot light 1
        spotLight1 = new THREE.SpotLight(0xffffff, 2);
        spotLight1.position.set(15, 20, 10);
        spotLight1.angle = Math.PI / 15;
        spotLight1.penumbra = 0.1;
        spotLight1.decay = 2;
        spotLight1.distance = 100;

        scene.add(spotLight1);
        //Sport target 1
        target1 = new THREE.Object3D();
        target1.position.set(10, 0, 0);
        spotLight1.target = target1;

        scene.add(target1);

        //Sport light 2
        spotLight2 = new THREE.SpotLight(0xffffff, 2);
        spotLight2.position.set(-15, 20, 10);
        spotLight2.angle = Math.PI / 15;
        spotLight2.penumbra = 0.1;
        spotLight2.decay = 2;
        spotLight2.distance = 100;

        scene.add(spotLight2);
        //Sport target 2
        target2 = new THREE.Object3D();
        target1.position.set(-10, 0, 0);
        spotLight2.target = target2;

        scene.add(target2);

        createGeometry();

        // create the renderer
        renderer = new THREE.WebGLRenderer( { canvas: sceneCanvas } );
        renderer.setSize(window.innerWidth, window.innerHeight-100);
        //document.body.appendChild(renderer.domElement);
    };

    // main animation loop - calls 50-60 times per second.
    let mainLoop = function() {
        //Move the targets to make the spots follow them
        target1.position.x -= ADD;
        target2.position.x += ADD;
        if(target1.position.x < -20 || target1.position.x > 20)
            ADD *= -1;

        renderer.render(scene, camera);
        requestAnimationFrame(mainLoop);
    };

    ///////////////////////////////////////////////
    init();
    mainLoop();
</script>
