<html lang="en"></html>
      <head>
        <meta charset="UTF-8">
        <title>Three JS</title>
        <%- include ('../../partials/head') %>
      </head>
    <body>
      <%- include ('../../partials/navbar') %>
      <figure>
        <audio id="music" controls muted>
          <source src="public/assets/sw.ogg" type="audio/ogg">
          <source src="public/assets/sw.mp3" type="audio/mpeg">
          Your web browser is outdated or don't support OGG and MP3 codecs.
        </audio>
      </figure>
      <div class="prelude">
        A long time ago in a galaxy far, <br />far away...
      </div>
      <canvas id="sceneCanvas"></canvas>
  </div>
    </body>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</html>

<script>
    let scene, camera, renderer, text;
    let ADD = 0.02, theta = 0;
    init();

    // set up the environment -
    // initiallize scene, camera, objects and renderer
    function init () {
        // create the scene
        scene = new THREE.Scene();
        const loaderBckgr = new THREE.TextureLoader();
        const bgTexture = loaderBckgr.load('public/assets/sw.jpg');
        scene.background = bgTexture;


      // create an locate the camera
      camera = new THREE.PerspectiveCamera(70,
        window.innerWidth / window.innerHeight,
        1, 150);
      camera.position.set(0, 5, 40);

      //Load font.json and create material (async)
      let loader = new THREE.FontLoader();
      let contentTitle ="Three JS";
      let content = "99 bottles of beer on the wall,\n99 bottles of beer.\nTake one down, pass it around,\n98 bottles of beer on the wall,\n98 bottles of beer.\nTake one down, pass it around,\n97 bottles of beer on the wall,\n97 bottles of beer.\nTake one down, pass it around,\n96 bottles of beer on the wall,\n96 bottles of beer.\nTake one down, pass it around,\n95 bottles of beer on the wall,\n95 bottles of beer.";
      loader.load( 'public/fonts/helvetiker_bold.typeface.json', function ( font ) {
        let geometryTitle = new THREE.TextGeometry(
          contentTitle, {font: font, size: 8, height: 0.1}
        );

        let geometry = new THREE.TextGeometry(
          content, {font: font, size: 3, height: 0.1}
        );
        let  material = new THREE.MeshBasicMaterial({color:0xE7AE05, wireframe: false});
        let  textTitle = new THREE.Mesh(geometryTitle , material);
        textTitle.position.x = -25;
        textTitle.position.y = 0;
        textTitle.rotation.x = -0.9;
        textTitle.size = 1;
        scene.add(textTitle);
        let  text = new THREE.Mesh(geometry , material);
        text.position.x = -30;
        text.position.y = -20;
        text.rotation.x = -0.9;
        text.size = 1;
        scene.add(text);

        // main animation loop - calls 50-60 times per second.
        function animate() {
          requestAnimationFrame( animate );
          //text.rotation.x += ADD;
          textTitle.position.z -= ADD;
          textTitle.position.y += ADD / 2;
          text.position.z -= ADD;
          text.position.y += ADD / 2;
          renderer.render( scene, camera );
        }
        setTimeout(function() {
          document.getElementById("music").play();
          animate();
        }, 3000);
      })

      // create the renderer
      renderer = new THREE.WebGLRenderer( { canvas: sceneCanvas } );
      renderer.setSize(window.innerWidth, window.innerHeight-100);
    };//\init

    ///////////////////////////////////////////////

</script>
