<html lang="en"></html>
      <head>
        <meta charset="UTF-8">
        <title>Three JS</title>
        <%- include ('../../partials/head') %>
      </head>
    <body>
        <%- include ('../../partials/navbar') %>
        <div class="instructions">Use arrow keys</div>
        <canvas id="sceneCanvas"></canvas>
    </body>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</html>

<script>
    const LEFT = 37, RIGHT = 39, UP = 38, DOWN = 40;//KEY BINDING
    let scene, camera, renderer, light1;
    let cubes = [];
    let ADD = 0.2;
    let cube;

    //Display cubes
    let randomInRange = function(from, to) {
        let x = Math.random() * (to - from);
        return x + from;
    };

    let createGeometry = function() {
        let geometry = new THREE.BoxGeometry(5, 5, 5);

        for(let i = 1; i <= 10; i++) {
            let material = new THREE.MeshPhongMaterial({color: Math.random() * 0Xffffff,
                                    shininess: 100, side: THREE.DoubleSide});
            cube = new THREE.Mesh(geometry, material);
            cube.position.x = randomInRange(-20, 20);
            cube.position.z = randomInRange(-10, 10);
            cubes.push(cube);
            scene.add(cube);
        }
    };

    //keys actions
    let onKeyDown = function(e) {
        if(e.keyCode == LEFT)
            ADD = -0.2;
        else if(e.keyCode == RIGHT)
            ADD = 0.2;
        else if(e.keyCode == UP)
            scene.rotation.x += 0.2, ADD = 0;
        else if(e.keyCode == DOWN)
            scene.rotation.x -= 0.2, ADD = 0;
         else
            return;
        cubes.forEach(cube => cube.position.x += ADD);
    };


    // set up the environment -
    // initiallize scene, camera, objects and renderer
    let init = function() {
        // create the scene
        scene = new THREE.Scene();
        scene.background = new THREE.Color(0xffffff);

        // create an locate the camera
        camera = new THREE.PerspectiveCamera(75,
                        window.innerWidth / window.innerHeight,
                        1, 1000);

        camera.position.set(0, 10, 40);

        light1 = new THREE.DirectionalLight(0xffffff, 1);
        scene.add(light1);

        createGeometry();

        // create the renderer
        renderer = new THREE.WebGLRenderer( { canvas: sceneCanvas } );
        renderer.setSize(window.innerWidth, window.innerHeight-100);

        //we need to add event listener
        document.addEventListener("keydown", onKeyDown, false);
    };

    // main animation loop - calls 50-60 times per second.
    let mainLoop = function() {
        //camera.position.z -= 0.1;//camera moves through the cubes
        renderer.render(scene, camera);
        requestAnimationFrame(mainLoop);
    };

    ///////////////////////////////////////////////
    init();
    mainLoop();
</script>
